              *{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
        }
        body {
          display: flex;
          justify-content: center;
          align-items: center;
          min-height: 100vh;
          background:url(https://i.pinimg.com/736x/1a/12/66/1a12665b0d3132ab6b85ce1f8b1704e8.jpg); 
          background-size:auto;
        }
        #clock h2{
          position: relative;
          display: block;
          color: #E0E0E0; 
          text-align: center;
          margin: 10px 0;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 0.4em;
          font-size: 3em;
        }
        #clock #time{
          display: flex;
        }
        #clock #time div {
          position: relative;
          margin: 0 5px;
          -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0,0,0,0.8));
        }
        #clock #time div span{
          position: relative;
          display: block;
          width: 350px;
          height: 200px;
          background: linear-gradient(green,black); 
          color: #7ddd0e; 
          font-weight: 300;
          display: flex;
          border-radius: 10px;
          justify-content: center;
          align-items: center;
          font-size: 10em;
          z-index: 10;
          box-shadow: 0 0 20px rgba(0, 255, 4, 0.3);
        }
        #clock #time div span:nth-child(2){
          height: 25px;
          font-size: 0.9em;
          letter-spacing: 0.2em;
          font-weight: 500;
          z-index: 9;
          box-shadow: none;
          background: #196108; 
          color: #ffffff; 
          text-transform: uppercase;
        }
        #clock #time div:nth-child(2) span:nth-child(1),
        #clock #time div:nth-child(3) span:nth-child(1){
            background:linear-gradient(green,black);
            color: #7ddd0e;
        }
        #clock #time div:nth-child(2) span:nth-child(2),
        #clock #time div:nth-child(3) span:nth-child(2){
            background: #196108;
        }

        #clock #time div:nth-child(4) {
          margin: 0; 
        }
        #clock #time div:nth-child(4) span:nth-child(1) {
            position: absolute;
            bottom: 0;
            margin: 3px;
            width: 90px;
            height: 80px;
            border-radius: 50%;
            border: rgba(61, 255, 2, 0.516) solid 7px;
            font-size: 1.3rem;
            font-weight: 1000;
            background: #1aff0036;
            color: #8cff00; 
            display: flex;
            justify-content: center;
            align-items: center;
            -webkit-box-reflect: unset; 
        }
        #clock #time div:nth-child(4) span:nth-child(2){
          display: none; 
        }